USE [master]
GO
/****** Object:  Database [company]    Script Date: 1/18/2022 10:46:10 PM ******/
CREATE DATABASE [company]
 CONTAINMENT = NONE
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [company].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [company]
GO
/****** Object:  Table [dbo].[company]    Script Date: 1/18/2022 10:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[num_of_employee] [int] NULL,
	[established_date] [datetime] NULL,
	[tax_code_id] [int] NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 1/18/2022 10:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[id] [int] NOT NULL,
	[name] [varchar](60) NULL,
	[sex] [varchar](10) NULL,
	[age] [int] NULL,
	[salary] [int] NULL,
	[company_id] [int] NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tax_name]    Script Date: 1/18/2022 10:46:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tax_name](
	[id] [int] NOT NULL,
	[code_name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_tax_name] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[company] ([id], [name], [num_of_employee], [established_date], [tax_code_id]) VALUES (1, N'Google', 10000, CAST(N'2022-01-12T23:14:58.000' AS DateTime), 1)
INSERT [dbo].[company] ([id], [name], [num_of_employee], [established_date], [tax_code_id]) VALUES (2, N'Facebook', 9929, CAST(N'2022-01-12T23:14:58.000' AS DateTime), 2)
INSERT [dbo].[company] ([id], [name], [num_of_employee], [established_date], [tax_code_id]) VALUES (3, N'Amazon', 2500, CAST(N'2022-01-12T23:15:41.000' AS DateTime), 3)
GO
INSERT [dbo].[employee] ([id], [name], [sex], [age], [salary], [company_id]) VALUES (1, N'ABC', N'Male', 23, 120000, 1)
INSERT [dbo].[employee] ([id], [name], [sex], [age], [salary], [company_id]) VALUES (2, N'XYZ', N'Female', 19, 6000, 2)
GO
INSERT [dbo].[tax_name] ([id], [code_name]) VALUES (1, N'ALM112')
INSERT [dbo].[tax_name] ([id], [code_name]) VALUES (2, N'CFF227')
INSERT [dbo].[tax_name] ([id], [code_name]) VALUES (3, N'CFF229')
GO
ALTER TABLE [dbo].[company]  WITH CHECK ADD  CONSTRAINT [FK_company_tax_name] FOREIGN KEY([tax_code_id])
REFERENCES [dbo].[tax_name] ([id])
GO
ALTER TABLE [dbo].[company] CHECK CONSTRAINT [FK_company_tax_name]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_company] FOREIGN KEY([company_id])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK_employee_company]
GO
USE [master]
GO
